<% provide(:language, 'english') %>
<% provide(:title, 'Contact Us') %>
<div class="center hero-unit">
<h1>Contact Us</h1>
<p>
You can call us at <%= phone_contact %> or email us at <%= email_contact %>
</p>
</div>
