<% provide(:language, 'french') %>
<% provide(:title, 'Contactez Nous') %>
<div class="center hero-unit">
<h1>Contactez Nous</h1>
<p>
Vous pouvez nous joindre au <%= phone_contact %> ou par courriel au <%= email_contact %>
</p>
</div>
