<% provide(:title, 'Contactez Nous/Contact Us') %>
<h1>Contactez Nouse/Contact Us</h1>
<p>
Vous pouvez me joindre au <%= phone_contact %> ou par courriel au <%= email_contact %>
</p>
<p>
You can call me at <%= phone_contact %> or by email at <%= email_contact %>
</p>
