<% provide(:title, 'Prix/Prices') %>
<h1>Prix/Prices</h1>
<h2>
Pour une dure&eacute; limite&eacute;: 
</h2>
<p>5 $/pied carr&eacute; (au lieu de 8 $)</p>
<p>2 $/pied pour murs de sout&egrave;nement (au lieu de 2.50 $)</p>
<p>Et en <em>plus</em>, je vous donne une garantie de 2 ans sur tout les travaux!</p>
<br />
<h2>For a limited time:</h2>
<p>$5 per square foot (instead of $8)</p>
<p>$2 per foot for retaining walls (instead of $2.50)</p>
<p>And in <em>addition</em>, you also get 2 years of warranty on all work!</p>
