<% provide(:language, 'english') %>
<% provide(:title, 'Prices') %>
<h1>Prices</h1>
<table class="table">
	<tr>
		<th>Work</th>
		<th class="error">Regular Price</th>
		<th class="success">Limited time offer!</th>
	</tr>
	<tr>
		<td>Interlock</td>
		<td class="error">$8 per ft<sup>2</sup></td>
		<td class="success"><strong>$5 per ft<sup>2</sup></strong></td>
	</tr>
	<tr>
		<td>Retaining Walls</td>
		<td class="error">$2.50 per ft</td>
		<td class="success"><strong>$2 per ft</strong></td>
	</tr>
</table>
<p>And in <em>addition</em>, this includes a 2 year warranty on all work performed!</p>
