<% provide(:language, 'french') %>
<% provide(:title, 'Prix') %>
<h1>Prix</h1>
<table class="table">
	<tr>
		<th>Travail</th>
		<th class="error">Prix R&eacute;gulier</th>
		<th class="success">Offre d'une dur&eacute;e limit&eacute;!</th>
	</tr>
	<tr>
		<td>Pav&eacute Uni</td>
		<td class="error">$8 du ft<sup>2</sup></td>
		<td class="success"><strong>$5 du ft<sup>2</sup></strong></td>
	</tr>
	<tr>
		<td>Murs de sout&egrave;nement</td>
		<td class="error">$2.50 du ft</td>
		<td class="success"><strong>$2 du ft</strong></td>
	</tr>
</table>
<p>Et en <em>plus</em>, ceci inclus une garantie de 2 ans sur tout les travaux!</p>
