<% provide(:language, 'french') %>
<% provide(:title, 'Prix') %>
<div class="center hero-unit">
<h1>Prix</h1>
<h2>Appelez pour plus d'informations ou pour fixer un rendez-vous.</h2>
<table class="table">
	<tr>
		<th>Travail</th>
		<th class="error">Prix R&eacute;gulier</th>
		<th class="success">Offre d'une dur&eacute;e limit&eacute;e!</th>
	</tr>
	<tr>
		<td>Pav&eacute Uni</td>
		<td class="error">$8 du pied<sup>2</sup></td>
		<td class="success"><strong>$5 du pied<sup>2</sup></strong></td>
	</tr>
	<tr>
		<td>Murs de sout&egrave;nement</td>
		<td class="error">$2.50 du pied</td>
		<td class="success"><strong>$2 du pied</strong></td>
	</tr>
</table>
<p>Et en <em>plus</em>, ceci inclus une garantie de 2 ans sur tous les travaux!</p>
</div>
