<footer class="footer">
  <small>
  D&eacute;-d&eacute;co Pav&eacute; Uni - Interlock
  </small>
  <nav>
    <ul>
      <li><%= link_to "Accueil/Home", root_path %></li>
      <li><%= link_to "Prix/Prices", prices_path %></li>
      <li><%= link_to "Contactez Nous/Contact Us", contact_path %></li>
    </ul>
  </nav>
</footer>
