    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= logo_image(yield(:language)) %>
          <nav>
            <ul class="nav pull-right large">
              <li><%= link_home(yield(:language)) %>
              <li><%= link_prices(yield(:language)) %>
              <li><%= link_contact(yield(:language)) %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
